.father {
    display: flex;
    flex-direction: column;
    border:  2px solid #4a4d4c;
    height: 400px;
}

.first {
    background-color: burlywood;
    text-align: center;
    flex-grow: 1;
    margin: 1%;
}

.second {
    display: flex;
    flex-grow: 2;
    margin: 0% 1% 1% 1%;
}

.bcde {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
}

.f {
    background-color: burlywood;
    flex-grow: 1;
    text-align: center;
    margin-left: 1%;
}

.b {
    background-color: burlywood;
    text-align: center;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 1%;
}

.cde {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.blockcde {
    background-color: burlywood;
    width: 30%;
    text-align: center;
}