body {
    width: 1650px;
}

.header-top {
    background: #0F2438;
    height: 36px;
    padding: 0% 10%;
    display: flex;
}

.header-top__block1 {
    width: 50%;
    display: flex;
    column-gap: 5%;
}

.top-header__location {
    display: flex;
    align-items: center;
}

.top-header__text {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

.top-dropdown {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF!important;
    margin-top: 3%;
}

.header-top__block2 {
    width: 50%;
    height: 100%;
    margin: auto 0px;
    align-items: center;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;

}

a,a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-header div {
    display: flex;
    height: 36px;
    align-items: center;
}

.header-main {
    height: 196px;
    padding: 0% 10%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
;
}

.header-main__top {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-top__block1,.main-top__block2,.main-top__block3 {
    align-items: center;
}


.main-top__block2 img {
    width: 32px;
    height: 32px;
}


.main-top__block2 p {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
    margin-top: 8%;
}

.main-top__block3 img {
    width: 26px;
    height: 32px;
}

.main-top__block3 p {
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin-top: 9%;
}

.main-top__block4 button {
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
    border: 0;
    justify-content: center;

}

.main-top__block5 {
    width: 157px;
    height: 40px;
    text-align: right;
    margin-right: 12px;
}

.main-top__block5 h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
    margin: 0;
}

.main-top__block5 a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
}

.catalog-button button {
    width: 164px;
    height: 53px;
    background: none;
    padding: 0;
    border: none;
}

.header-main__bottom {
    height: 40%;
    justify-content: space-between;
}

.input-form {
    width: 600px;
}

.input-group-text {
    justify-content: center;
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.cabinet {
    height: 53px;
    width: 440px;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
}

.cabinet-button button{
    margin-right: 7px;
    border: 0;
    background-color: #FFFFFF;
}

.cart-text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    overflow: hidden;
    text-align: left;
    margin: 20px;
}

.favorite {
    border-right: #C4C4C4 solid 2px;
}

.shop {
    padding: 0 10%;
    margin-top: 20px;
}
.shop-top {
    height: 390px;
    width: 950px;
}

.carousel-img {
    position: absolute;
    width: 400px;
    height: 350px;
    left: 470px;
    top: 20px;
}

.carousel-item h4 {
    position: absolute;
    left: 145px;
    top: 95px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    color: #0A1A2C;
}

.carousel-p1 {
    position: absolute;
    top: 147px;
    left: 145px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;

}

.carousel-p2 {
    position: absolute;
    top: 195px;
    left: 145px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.carousel-p3 {
    position: absolute;
    top: 208px;
    left: 330px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.carousel-button {
    position: absolute;
    width: 160px;
    height: 49px;
    left: 145px;
    top: 250px;
    border-radius: 6px;
    border: none;
    padding: 0;
}

.prev-icon {
    position: absolute;
    top: 145px;
    left: 45px;
}

.next-icon {
    position: absolute;
    right: 32px;
    top: 150px;
}

.shop-right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 350px;
    height: 368px;
    row-gap: 18px;
}

.shop-right__block1,.shop-right__block2 {
    height: 175px;
    width: 350px;
    background: #F4F5FA;
    border-radius: 10px;
    position: relative;
}

.shop-right__block1 h4 {
    position: absolute;
    top: 20px;
    left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.shop-right__block1 img {
    position: absolute;
    top: 54px;
    left: 15px;
}

.description {
    position: absolute;
    top: 54px;
    left: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.shop-right__block1 span {
    position: absolute;
    top: 106px;
    left: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.price {
    position: absolute;
    top: 140px;
    left: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.old-price {
    position: absolute;
    top: 143px;
    left: 181px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.shop-right__block1 button {
    position: absolute;
    top: 61px;
    left: 260px;
    padding: 0;
    border: 0;
    margin: 0;
}

.catalog {
    padding: 0 10%;
    height: 184px;
    margin-top: 50px;
}

.catalog-main {
    display: flex;
    column-gap: 3%;
}

.main-photo {
    position: absolute;
    right: -6px;
}

.position-relative h5 {
    position: absolute;
    right: 327px;
    top: 30px;
    left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.catalog-p1 {
    position: absolute;
    right: 327px;
    top: 68px;
    left: 20px;
    width: 160px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0A1A2C;
}

.catalog-main__button {
    position: absolute;
    top: 128px;
    border: 0;
    left: 20px;
    background: #005BB9;
    border-radius: 4px;
}

.nav {
    column-gap: 20px;
    padding: 0 10%;
    height: 55px;
    margin-top: 70px;
}

.nav-button1 {
    width: 241px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
    border: 0;
}

.nav-button1 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 14px;
}

.nav-button2 {
    width: 123px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.nav-button2 p,.nav-button3 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    margin-top: 14px;
}

.nav-button3 {
    width: 229px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}

.product {
    padding: 0 10%;
    height: 1116px;
    margin-top: 5px;
    column-gap: 17px;
}

.product-card {
    width: 316px;
    height: 418px;
}

.product-card img {
    width:256px;
    height: 235px;
}

.card-body span img {
    width: 39px;
    height: 16px;
}

.card-body span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #0A1A2C;
}

.card-a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.card-text  {
    margin-top: 28px;
}
.product-card__button {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    padding-top: 10px;
    margin-left: -15px;
}

.card-body a img {
    width: 21px;
    height: 18px;
    margin-left: 15px;
}

.card-body p span {
    color: #FFB800;

}

.card-body__price2 {
    text-decoration-line: line-through;
    color: #C2C5DA!important;
}

.product-line {
    overflow: hidden;
    width: 1270px;
}

.product-more {
    width: 100%;

}

.product-more button {
    border: none;
    height: 49px;
    padding: 0;
}

.news h4 {
    margin: 80px 0 0 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.news img {
    width: 1650px;
    overflow: hidden;
}

.news-main {
    padding: 0 10%;
    height: 356px;

}

.news-data {
    margin-top: -13px;
    margin-left: -130px;
}

.news-data__text {
    margin-top: -23px;
    margin-left: -130px;
    color: #FFFFFF;
}

.news-data__text p {
    width: 106px;
    text-align: center;
}

.news-title {
    width: 15%;
}

.news-title_block1 a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}

.news-title_block2 p {
    width: 284px;
    height: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.news-tile2 {
    margin-left: 73px;
}

.news-tile3 {
    margin-left: 80px;
}

.news-tile4 {
    margin-left: 80px;
}

.footer {
    height: 408px;
    background: #0C1A2A;
    padding: 36px 10% 0px 10%;
    justify-content: space-between;
}

.footer-block1 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 14px;
    row-gap: 10px;
    padding: 0;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.footer-block1 ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-block2 {
    position: absolute;
    width: 435px;
    height: 240px;
    top: 130px;
    left: 1060px;
    column-gap: 15px;

}

.footer-block2 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}

.footer-input-group {
    height: 40px;
    min-width: 450px;
    display: flex;
}

.footer-button {
    left: 1460px;
    top: 2789px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
}

.footer-form-control {
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    background: none;
    padding-left: 15px;
}

.footer-social {
    margin-left: auto;
    column-gap: 60px;
}

