.father {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 500px;
    border: 1px solid #070909;
    text-align: center;
}

.block1 {
    flex: 0.5;
    border: 0.5px solid #070909;
}

.block3 {
    flex: 1;
    border: 0.5px solid #070909;
}

.block4 {
    flex: 2;
    border: 0.5px solid #070909;
}

.block5 {
    flex: 3;
    border: 0.5px solid #070909;
}

.block6 {
    flex: 3;
    border: 0.5px solid #070909;
}

.block7 {
    flex: 0.5;
    border: 0.5px solid #070909;

}